/* styles.css */
:root {
    --bg: #131418;
    --options-bg: #141820;
    --border: rgb(89, 89, 89);
}

@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');


body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
}

* {
    font-family: "SUSE", sans-serif;

}

.video-background {
    top: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    /* Ensures video is behind other content */
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures video covers the background */
}

.content {
    position: fixed;
    top: 0;
    z-index: 1;
    /* Makes sure content is above the video */
    color: #fff;
    /* Text color for readability on video */
    padding: 20px;
    /* Add other styles for your content here */
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.options {
    margin-top: 50px;
    background-color: var(--bg);
    display: flex;
    column-gap: 15px;
    border-radius: 100px;
    align-items: center;
    padding: 5px;
    position: relative;
    width: 320px;
    /* Adjust as needed */
    height: 44px;
    /* Adjust as needed */
    border: 1px solid var(--border);
    transition: 0.5s ease;
}

.options:hover {
    box-shadow: 0px 20px 15px 0px #00000063;
}

.options button {
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border-radius: 200px;
    /* font-weight: bold; */
    border-width: 0;
    position: relative;
    z-index: 1;
}

#btn {
    align-items: center;
    border-radius: 100px;
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: rgb(67, 67, 67);
    transition: all 0.3s ease;
    /* Smooth transition */
    top: 7px;
    left: 5px;
}

.allbtn {
    width: 80px;
    height: 40px;
}

.aboutbtn {
    width: 100px;
    height: 40px;
}

.workbtn {
    width: 120px;
    height: 40px;
}




.main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.maindivs {
    width: 90%;
    height: 700px;
    /* background-color: black; */
    display: flex;
}

.same {
    width: 40%;
    height: max(400px, 15vw);
    background-color: var(--bg);
    border-radius: 40px;
    border: 0.5px solid rgba(89, 89, 89, 0.536);
    opacity: 0.8;
    transition: 0.3s;
    margin: 15px;
}

.same:hover {
    margin-bottom: 15px;
    transform: translateY(5px);
    opacity: 1;
    background-color: #16181c;
    box-shadow: 0px 20px 15px 0px #00000063;
    border: 1px solid var(--border);

}

#all {
    height: auto;
    margin-bottom: 20px;
}

.first_row {
    width: 100%;
    display: flex;
    color: hwb(0 89% 11%);
}

.map_portfolio {
    margin: 15px;
    width: 45%;
    height: 400px;
    background-color: #ffffff00;
    display: inline-block;

}

.map {
    display: block;
    height: 270px;
    width: 100%;
    margin: 0;
    background: url("map.png");
    background-size: cover;
    background-position: 8px;
}

.portfolio {
    display: flex;
    height: 100px;
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 1.5vw, 2.1rem);
    text-align: center;
    color: white;
    transition: all 0.5s ease;
}

.portfolio b {
    border-right: 5px solid rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
    width: max-content;
    animation:
        typing 4s 2s steps(18) infinite,
        cursor .4s step-end infinite alternate-reverse;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.profile_map_port {
    width: 60%;
    display: flex;
}

.cv_logo {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.cv {
    width: 100%;
    height: 150px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 150px;
}

.cv2024 {
    font-size: 1.2rem;
    color: grey;
    letter-spacing: 5px;
}

.cvtxt {
    margin-left: 10px;
}

.down_cv {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: transparent;
    border-width: 0px;
}

.down_cv svg {
    width: 100%;
    height: 100%;
    fill: grey;
}

.down_cv svg:hover {
    fill: white;
}

.logo {
    width: 100%;
    height: clamp(200px, 9vw, 250px);
}

.profile {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.profile_text {
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    column-gap: 10px;
}

.profile_pic {
    margin-top: 50px;
    margin-left: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url("image.png");
    background-size: 200px;
    background-position: center;
}

.profile_heading {
    margin-top: 80px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: max(40px, 3.5vw);
    font-weight: bolder;
}

.profile_subtext {
    width: 80%;
    margin: auto;
    font-size: max(12px, 1.5vw);
    font-weight: lighter;
}


.logo {
    position: relative;
    cursor: copy;
}

.logo::before {
    content: '';
    background: url("logo.png");
    position: absolute;
    width: 150px;
    height: 150px;
    top: 15%;
    left: 5px;
    background-size: cover;
    transition: all 1s ease-in-out;
    border-radius: 50%;
    background-position: center;
}

.logo::after {
    content: 'Flutter Developer';
    position: absolute;
    right: 0;
    top: 35%;
    margin-left: 10px;
    font-size: max(25px, 2.5vw);
    color: white;
    width: 70%;
    height: 100%;
    transition: all 1s ease-in-out;
}

.logo:hover::before {
    transform: rotate(90deg);
}

.logo:hover::after {
    content: 'Maria Nazir';
}




#about {
    display: flex;
    width: 90%;
    height: auto;
    /* background-color: red; */
}

.social {
    width: 55%;
    height: 700px;
    /* background-color: peru; */
}

.experience {
    width: 45%;
    /* height: 1000px;background-color: darkblue; */
    height: 900px;
}

.tech_git_and {
    width: 100%;
    height: 400px;
    display: flex;
    column-gap: 30px;
}

.git_and {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.tech {
    width: 75%;
    height: 95%;
    overflow: hidden;
    position: relative;
}

.slider {
    z-index: 0;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    column-gap: 20px;
    top: 0;
    left: 0;
    animation: slide 30s linear infinite alternate-reverse;
    /* Adjust duration for speed */
}

.slider img {
    width: 30%;
    /* 20% of container width */
    /* background-color: white; */
    border-radius: 20px;
    height: 80px;
    /* Adjust height automatically */
}

.tech::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, #131418 0%, rgba(9, 9, 121, 0) 30%, rgba(9, 20, 128, 0) 75%, #131418 100%);

    z-index: 1;
    /* Ensure gradient is on top */
}

@keyframes slide {
    from {
        transform: translateX(100%);
        /* Start from right */
    }

    to {
        transform: translateX(-900%);
        /* Move to left */
    }
}

.tech div {
    /* color: white; */
    position: absolute;
    z-index: 0;
    background: transparent;
}

.t1 {
    color: rgb(93, 93, 93);
    bottom: 70px;
    left: 40px;
}

.t2 {
    color: white;
    font-size: 2vw;
    bottom: 30px;
    left: 40px;
}

.git {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gitlink {
    display: inline;
}

.and {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.link_mail {
    width: 100%;
    display: flex;
}

.linked {
    width: 30%;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center
}

.mail {
    width: 70%;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.git a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.and a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linked a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialimg {
    width: 60%;
    height: 50%;
    /* background-color: red; */
    border-radius: 20px;

}

.linked img {
    width: 100px;
    height: 100px;
}

.git img {
    width: 100px;
    height: 100px;
}

.mail img {
    width: 100px;
    height: 100px;
}

.and img {
    width: 100px;
    height: 100px;
}



.experience {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 590px;
}


.years {
    margin-top: 30px;
    width: 100%;
    height: 7%;
    border-bottom: 1px solid var(--border);
    color: #6a6a6a;
}

.years div {
    width: 90%;
    margin: auto;
}

.techa2z {
    width: 90%;
    height: 31%;
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.riss {
    width: 90%;
    height: 31%;
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    margin: auto;
}

.devmaxim {
    width: 90%;
    height: 31%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.company {
    font-size: 2rem;
    text-decoration: line-through;
}

.time {
    font-size: 1.2rem;
}

.techa2z .company {
    text-decoration: none;
}

#about {
    margin-bottom: 20px;
}





#work {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}

.projects {
    width: max-content;
    height: 100px;
    text-align: center;
    align-content: center;
    color: white;
    padding: 10px;
}

.projectdetails {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;
}

.project {
    width: 400px;
    height: 700px;
    position: relative;

}



.coin {
    background: url("coin.png");
    background-size: contain;
    background-position: center;

}

.exam {
    background: url("exam.png");
    background-size: contain;
    background-position: center;
}

.food {
    background: url("food.png");
    background-size: contain;
    background-position: center;
}

.questions {
    background: url("questions.png");
    background-size: contain;
    background-position: center;
}
.gym {
    background: url("gym.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bgremove {
    background: url("remove.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.anonymous {
    background: url("anonymous.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.gradient {
    width: 101%;
    height: 101%;
    position: absolute;
    z-index: 0;
    top: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 80%);
    left: -1px;
    border-radius: 40px;
}


#work h2{
    color: white;
    font-size: 3rem;
    position: absolute;
    left: 10px;
    bottom: 50px;
    width: 90%;
}
#work p{
    color: rgb(190, 190, 190);
    font-size: 1rem;
    position: absolute;
    left: 10px;
    bottom: 0;  
    width: 90%;

}

